+b.b-course-item
    +e.img-author-desc
        if itemImg 
            +e.img-wrpr_has-img
                +e.IMG(src=""+ itemImg).img
        else
            +e.img-wrpr_has-no-img
        
        
        include ./../b-author/i
        
        if itemImg 
            +e.A(href="/event.html").desc
                p!= itemDesc
        else
            +e.A(href="/event2.html").desc
                p!= itemDesc
            
    +e.info
        +e.info-item
            +e.info-item-label 
                span Дата
            +e.info-item-value
                span!= itemDate
        
        +e.info-item
            +e.info-item-label 
                span Стоимость
            +e.info-item-value
                if itemPriceOld
                    span.price-old!= itemPriceOld
                span.price!= itemPrice
                
        
        +e.info-item
            +e.info-item-label 
                span Длительность
            +e.info-item-value
                span!= itemTime